<div class="filter-container">
  <mat-form-field>
    <mat-label>Buscar Posto</mat-label>
    <input type="text" matInput [matAutocomplete]="auto" [(ngModel)]="searchTerm" (ngModelChange)="filterStations()">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
    <button mat-icon-button *ngIf="searchTerm" matSuffix (click)="clearFilter('searchTerm')">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Bairro</mat-label>
    <mat-select [(ngModel)]="selectedNeighborhood" (selectionChange)="filterStations()">
      <mat-option *ngFor="let neighborhood of neighborhoods" [value]="neighborhood">{{ neighborhood }}</mat-option>
    </mat-select>
    <button mat-icon-button *ngIf="selectedNeighborhood" matSuffix (click)="clearFilter('neighborhood')">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Tipo de Combustível</mat-label>
    <mat-select [(ngModel)]="selectedFuelType" (selectionChange)="filterStations()">
      <mat-option *ngFor="let fuelType of fuelTypes" [value]="fuelType">{{ fuelType }}</mat-option>
    </mat-select>
    <button mat-icon-button *ngIf="selectedFuelType" matSuffix (click)="clearFilter('fuelType')">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-form-field>
</div>

<mat-divider></mat-divider>

<!--<div class="filter-container">-->
<!--  <div style="display: flex; align-items: center;" (click)="exportToExcel()">-->
<!--    <mat-icon style="font-size: 42px; width: 42px; height: 42px; margin: 1rem;">local_gas_station</mat-icon>-->
<!--    <div>-->
<!--      Exportar para Excel-->
<!--    </div>-->
<!--  </div>-->
<!--  <div style="display: flex; align-items: center;"  (click)="exportToPDF()">-->
<!--    <mat-icon style="font-size: 42px; width: 42px; height: 42px; margin: 1rem;">local_gas_station</mat-icon>-->
<!--    <div>-->
<!--      Exportar para PDF-->
<!--    </div>-->
<!--  </div>-->
<!--&lt;!&ndash;  <div class="export-buttons">&ndash;&gt;-->
<!--&lt;!&ndash;    <button (click)="exportToExcel()">Exportar para Excel</button>&ndash;&gt;-->
<!--&lt;!&ndash;    <button (click)="exportToPDF()">Exportar para PDF</button>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--</div>-->




<mat-divider></mat-divider>

<div class="station-list">
  <mat-card *ngFor="let station of filteredGasStations" class="example-card">
    <mat-card-header>
      <mat-card-title>{{ station.posto_nome }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        Endereço:
        {{ station.posto_logradouro}}, {{ station.posto_numero}}, {{ station.posto_bairro}}, {{ station.posto_cidade}}, {{ station.posto_estado}} - {{ station.posto_cep}}
      </div>

      <div style="display: flex; align-items: center;" *ngFor="let combustivel of station.combustiveis" class="item-gas">
        <mat-icon style="font-size: 42px; width: 42px; height: 42px; margin: 1rem;">local_gas_station</mat-icon>
        <div>
          {{ combustivel.combustivel_nome }}: {{ combustivel.preco | replaceComma }}
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="action-button">
      <div class="action-detail" [routerLink]="['/posto', station.posto_id]">
        <a mat-fab extended color="primary">
        <mat-icon>info</mat-icon>
          Ver Detalhes
        </a>
      </div>
    </mat-card-actions>

  </mat-card>
</div>

