<div *ngIf="posto">
  <h1>{{ posto.nome_fantasia }}</h1>
  <p>Endereço: {{ posto.logradouro }}, {{ posto.numero }}, {{ posto.bairro }}, {{ posto.cidade }}, {{ posto.estado }} - {{ posto.cep }}</p>
</div>
<div>
  <mat-tab-group>
    <mat-tab label="Gráfico">
      <div>
        <canvas id="combustiveisChart"></canvas>
      </div>
    </mat-tab>
    <mat-tab label="Tabela">
      <mat-form-field appearance="fill">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Filtre os combustíveis">
      </mat-form-field>
      <div class="table-container">
        <table mat-table [dataSource]="dataSource" matSort>
          <!-- Coluna Combustível -->
          <ng-container matColumnDef="combustivel">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Combustível</th>
            <td mat-cell *matCellDef="let element">{{ element.combustivel }}</td>
          </ng-container>
          <!-- Coluna Preço -->
          <ng-container matColumnDef="preco">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Preço</th>
            <td mat-cell *matCellDef="let element">{{ element.preco | replaceComma }}</td>
          </ng-container>
          <!-- Coluna Data da Coleta -->
          <ng-container matColumnDef="data_coleta">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Data da Coleta</th>
            <td mat-cell *matCellDef="let element">{{ element.data_coleta }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
