/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f980eb;
    color: white;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.botao-principal {
    padding: 10px 20px;
    background-color: #f56a79;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

section.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: white;
}

.texto-hero {
    max-width: 50%;
}

.imagem-hero img {
    width: 300px;
}

.botoes-lojas a {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
}

section.servicos {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: #f4f4f9;
}

.servico {
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

footer .redes-sociais a img {
    width: 30px;
    margin: 0 10px;
}
