<div class="parallax"></div>

<div class="content">
  <h1>Sobre</h1>
  <mat-divider></mat-divider>

  <section>
    <h2>Objetivos</h2>
    <p>
      🔗 O devido projeto foi idealizado, delineado e desenvolvido com a finalidade de aplicar os conceitos teóricos aprendidos na matéria de Arquitetura de Dados Relacional I, ministrada pelo professor Jairo Lucas de Moraes, da Universidade Vila Velha, e conta como atividade complementar de suma importância para avaliação acadêmica.
    </p>
  </section>

  <section>
    <h2>Coleta de Dados</h2>
    <p>
      📖 Como ponto de partida para a elaboração da aplicação, buscamos os dados brutos a partir de um corte amostral disponibilizado pela própria ANP no site do governo brasileiro, em Levantamento de Preços de Combustíveis. Extraímos, ao todo, 109 planilhas com amostras dos valores de combustíveis de todos os postos do Brasil, abrangendo os períodos de julho de 2022 a setembro de 2024.
    </p>
  </section>

  <section>
    <h2>Processamento dos Dados</h2>
    <p>
      ⚙️ O processo de filtragem e limpeza dos dados obtidos foi realizado sob a utilização de scripts específicos com a linguagem de programação Python dentro do ambiente de desenvolvimento (IDE) PyCharm. Além disso, visando o melhor rendimento do projeto e otimização dos processos, aproveitamos esse momento para criar as primeiras restrições. Clique aqui para conferir detalhadamente como realizamos esse processo.
    </p>
  </section>

  <section>
    <h2>Agrupamento dos Dados</h2>
    <p>
      📂 Posteriormente, seguimos com o agrupamento dos dados no SGBD Microsoft SQL Server, o que nos permitiu dar continuidade no desenvolvimento das restrições e regras essenciais para a visualização das informações geradas. Utilizamos da ferramenta Mermaid para desenvolver e conceituar a parte em questão.
    </p>
  </section>
</div>
