<mat-nav-list>
  <mat-list-item>
    <a mat-line routerLink="/postos">Lista de Postos</a>
  </mat-list-item>
  <mat-list-item>
    <a mat-line routerLink="/graficos">Gráficos de Preços</a>
  </mat-list-item>
  <mat-list-item>
    <a mat-line routerLink="/comparativo-precos">Comparativo de Preços</a>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <a mat-line routerLink="/contato">Contato</a>
  </mat-list-item>
  <mat-list-item>
    <a mat-line routerLink="/sobre">Sobre</a>
  </mat-list-item>
</mat-nav-list>
