a {
  text-decoration: none;
  color: inherit;
}

mat-nav-list {
  margin: 0 10px;
}

mat-list-item {
  padding: 16px 12px;
}

mat-list-item.active {
  background-color: rgba(26, 57, 218, 0.6);
}

mat-list-item.active a, mat-list-item.active mat-icon {
  color: rgb(214, 221, 255);
}

.item-round {
  border-radius: 25px;
}
