<div [class.dark-theme]="isDarkTheme" [class.light-theme]="!isDarkTheme">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="toolbar-title">Fuel Tracker VV</span>
    <span class="spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="downloadData('csv')">
        <mat-icon>download</mat-icon>
        <span>CSV</span>
      </button>
      <button mat-menu-item (click)="downloadData('excel')">
        <mat-icon>download</mat-icon>
        <span>Excel</span>
      </button>
      <button mat-menu-item (click)="downloadData('pdf')">
        <mat-icon>description</mat-icon>
        <span>PDF</span>
      </button>
    </mat-menu>
    <button mat-icon-button (click)="toggleTheme()">
      <mat-icon>{{ isDarkTheme ? 'brightness_7' : 'brightness_2' }}</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened>
      <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
