<div [class.dark-theme]="isDarkTheme" [class.light-theme]="!isDarkTheme">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="toolbar-title">Fuel Tracker VV</span>
    <span class="spacer"></span>
    <button mat-icon-button (click)="toggleTheme()">
      <mat-icon>{{ isDarkTheme ? 'brightness_7' : 'brightness_2' }}</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened>
      <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-toolbar color="primary" class="footer">
    <span>Footer content</span>
  </mat-toolbar>
</div>
