.charts-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.datepickers {
  display: flex;
  height: 80px;
  gap: 8px;
}

.att-button {
  display: flex;
  height: 80px;
}

.chart-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  gap: 16px;
}

.chart-item {
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: rgb(65, 65, 65);
  //  3F50B4FF: rgb(63, 80, 180)
}
