.charts-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title-page {
  h1 {
    margin: 0;
    color: #fff;
  }
}

.filters {
  margin: 0;
  padding: 0;

  .filter-group {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: normal;
    height: 100%;

    mat-form-field {
      flex: 1 1 200px;
      min-width: 150px;
      height: 100%;
    }

    .button-att {
      height: 58px;
      display: inline-block;
      vertical-align: middle;
      margin: 0;
    }

  }
}

.chart-grid {
  display: grid;
  grid-auto-rows: auto;
  gap: 16px;

  .item {
    display: flex;
    flex-direction: column;
    gap: 16px;

    h3 {
      margin: 0;
      color: #fff;
    }

    .content {
      display: flex;
      gap: 16px;

      .insights {
        flex: 0 0 35%;
        padding: 16px 6px 6px 6px;
        border-radius: 8px;
        background-color: rgb(65, 65, 65);
        color: #fff;

        p {
          margin: 8px 0;
          font-size: 14px;

          strong {
            font-weight: bold;
          }

          em {
            font-style: italic;
          }
        }

        .pie-chart {
          margin-top: 16px;
          display: flex;
          justify-content: center;
          align-items: center;

          canvas {
            max-width: 100%;
            max-height: 200px; /* Defina a altura máxima que preferir */
            width: 100%;
            height: auto;
          }
        }
      }

      .chart {
        flex: 0 0 60%;
        padding: 16px;
        border-radius: 8px;
        background-color: rgb(65, 65, 65);

        canvas {
          max-width: 100%;
        }
      }
    }
  }
}
