<div class="charts-container">
  <!-- Datepickers para selecionar datas -->
  <div class="datepickers">
    <mat-form-field>
      <input matInput [matDatepicker]="inicioPicker" placeholder="Data Início" [(ngModel)]="dataInicio">
      <mat-datepicker-toggle matSuffix [for]="inicioPicker"></mat-datepicker-toggle>
      <mat-datepicker #inicioPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="fimPicker" placeholder="Data Fim" [(ngModel)]="dataFim">
      <mat-datepicker-toggle matSuffix [for]="fimPicker"></mat-datepicker-toggle>
      <mat-datepicker #fimPicker></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="updateCharts()">Atualizar</button>
  </div>

  <div>
    <h2>Preço Médio por Posto e Combustível</h2>
    <canvas id="averagePriceChart"></canvas>
  </div>

  <div>
    <h2>Variação de Preço por Posto</h2>
    <canvas id="priceVariationChart"></canvas>
  </div>
</div>
