<mat-nav-list>
  <mat-list-item>
    <a mat-line href="#">Lista de Postos</a>
  </mat-list-item>
  <mat-list-item>
    <a mat-line href="#">Gráficos de Preços</a>
  </mat-list-item>
  <mat-list-item>
    <a mat-line href="#">Comparativo de Preços</a>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <button mat-button>Filtrar por Bairro</button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button>Filtrar por Combustível</button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button>Intervalo de Preço</button>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <a mat-line href="#">Contato</a>
  </mat-list-item>
  <mat-list-item>
    <a mat-line href="#">Sobre</a>
  </mat-list-item>
</mat-nav-list>
